<div class="page-center flex-column text-center px-3">
  <img class="img-fluid" src="/500.png">
  <div class="display-3 mt-4">
    Server Error
  </div>
  <h1 class="my-3">We're sorry, but something went wrong.</h1>
  <a class="btn btn-primary" href="<%= root_path %>">Go to Home Page</a>
</div>