<div class="page-center flex-column text-center px-3">
  <img class="img-fluid" src="/404.png">
  <div class="display-3 mt-4">
    Not Found
  </div>
  <h1 class="my-3">The page you were looking for doesn't exist.</h1>
  <a class="btn btn-primary" href="<%= root_path %>">Go to Home Page</a>
</div>