<div class="container-lg py-4 py-lg-5 px-0 px-md-3">
  <h2 class="text-center mb-3 mb-lg-4">Page Name</h2>
  <div class="table-responsive">
    <table class="table table-bordered">
      <tr>
        <th>Data</th>
        <td>Data</td>
      </tr>
      <tr>
        <th>Data</th>
        <td>Data</td>
      </tr>
      <tr>
        <th>Data</th>
        <td>Data</td>
      </tr>
      <tr>
        <th>Data</th>
        <td>Data</td>
      </tr>
    </table>
  </div>
</div>