<input id="cardholder-email" type="text" placeholder="Card Holder Name" required="true">
<div id="card-element" style="margin: 30px 0px;"></div>
<button id="card-button" data-secret="<%= @intent.client_secret %>" class="btn-submit">Submit Payment</button>