<div class="page-center">
  <div class="card w-470">
    <div class="card-body">
      <h3 class="text-center">Top Up</h3>
      <hr/>
      <%= form_with url: payment_path do |form| %>
        <div class="form-group form-floating">
          <%= form.number_field :amount,step: "0.01",min: 0, placeholder: 'Enter Amount', required: true, id:'amount' %>
          <label for="amount">Enter Amount</label>
        </div>
        <%= form.submit "Top Up", class:'btn-submit' %>
      <% end %>
    </div>
  </div>
</div>