<div class="banner-header">
  <div class="d-flex align-items-center">
    <div class="flex-grow-1">
      <h2>Add New Product</h5>
      <%= render_breadcrumbs %>
    </div>
  </div>
</div>
<div class="center-cards">
  <div class="card mw-470">
    <div class="card-body">
      <%= render 'form', product: @product %>
    </div>
  </div>
</div>
