<div class="banner-header">
  <div class="d-flex align-items-center">
    <div class="flex-grow-1">
      <h2>Product</h2>
      <%= render_breadcrumbs %>
    </div>
  </div>
</div>
<div class="container-fluid py-3 py-md-4 px-0 px-sm-3">
  <div class="table-responsive">
    <table class="table table-bordered">
      <tr>
        <th>Name</th>
        <td><%= @product.name %></td>
      </tr>
      <tr>
        <th>Stripe_ID</th>
        <td><%= @product.stripe_id %></td>
      </tr>
    </table>
  </div>
</div>