<footer class="footer">
  <span>YourAppName &copy; <%= Date.current.year %> All Rights Reserved | Developed by <a href="https://www.systemplus.co" target="_blank" rel="nofollow noreferrer">System Plus</a>
  </span>
</footer>